@media (max-width: 900px){
    .blogs-main-new{
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }
    .blogs-news-img-container{
        grid-column: 2;
    }
    .blogs-main-new h3{
        grid-column: 2;
    }
    .blogs-posts-container .post-container{
        max-width: 45%;
    }
}


@media (max-width: 740px){
    .blogs-post-container .post-container {
        display: contents;
    }

    .profileMain-container{
        padding: 35px 40px;
        background-color: #e6e9ed;
        margin-bottom: 30px;
    
    }
    .profileMain-container .profile-container{
        flex-direction: column;
        align-items: center;
    }

    .profileMain-container img{
        width: 380px;
        margin-right: 0;
    }
    
    .profile-container-details{
        padding: 5px 20px;
    }

    .profile-container-details p{
        padding: 5px;
    }

    .proyects-main-container{
        grid-template-columns: 400px ;
     }

    .proyects-container img{
        width: 300px;
    }
    
    .contac-main-container {
        grid-template-columns: 1fr;
    }
    
   
}